@using activityfinder_asp.net.Models.Location;

@model UserLocation

@{
    ViewData["Title"] = "Discover";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/discover.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</head>

<body>
    <section>
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper content">
               @foreach (var activity in activityfinder_asp.net.Models.Activities.Activity.activities) {
                    <div class="swiper-slide card">
                        <div class="card-content">
                            <div class="image">
                                <img src="@activity.Image_Path" alt="image" />
                            </div>
                            <div class="activity-info">
                                <span class="name">@activity.Name</span>
                                <span class="address">@activity.City</span>
                                <span class="distance">@Model.GetDistance(activity)</span>
                            </div>
                            <div class="rating">
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="like">
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="button">
                                <button class="send-coords" id="coordbutton" onclick="window.open('@activity.Link()')">Send to Google Maps</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="swiper-button-next">
            </div>
            <div class="swiper-button-prev">
            </div>
            <div class="swiper-pagination">
            </div>
            </div>
        <script>
            const swiper = new Swiper(".mySwiper", {
                slidesPerView: 3,
                spaceBetween: 30,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        </script>
        <script type="text/javascript">
            navigator.geolocation.getCurrentPosition(pos => {
                const coords = pos.coords.latitude + " " + pos.coords.longitude;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Discover", "Home")',
                    async: true,
                    data: { coords: coords },
                    success: function (recData) { console.log("Successful sent coordinates") },
                    error: function () { console.log("Error. Coordinates were not sent") }
                });
            });
        </script>
    </section>
</body>